.info{
    border: 5px double darkcyan;
    padding: 10px;
    border-radius: 5px;
    margin-left: 400px;
    width: 300px;
    align-content: center;
    display:block;

}
h4{
    text-align: center;
}



